<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>MyProfile</title>
</head>
<body>
<div class="center">
    <div style="text-align: center;" class="cube">
        {%block content%} 
        <h2 style="font-size: 40px; color: wheat;">Hej, {{ime}}</h2>
        <h1 style="margin-top: 25%; font-size: 100px; color: wheat;">{{err}}</h1>
        <h2 style="margin-top: 25%; font-size: 40px; color: wheat;">{{desc}}</h2>
        <h2 style="margin-top: 25%; font-size: 40px; color: wheat;">{{note}}</h2>
        {% endblock %} 
    </div>
</div>
</body>
</html>