<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="../static/styles/edit_css.css">
<head>
    <title>Uređivanje</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="cube">
    <h1 style="text-align:center; font-size: 50px; ">Uređivanje baze</h1>
    <br/>

    <form method="POST" style="text-align: center" margin="10px 0px">
      <label style="color: aliceblue;" for="menu1">Odaberi radnju</label>
      <select id="menu1" name="menu1" style="margin: 5px 5px">
          <option value="create">Stvori novo</option>
          <option value="update">Izmijeni podatke</option>
          <option value="delete">Obriši</option>
      </select>

      <label style="color: aliceblue;" for="menu2">Odaberi objekt</label>
      <select id="menu2" name="menu2" style="margin: 5px 5px">
          {% for i in range(0, tablesLen) %}
          <option >{{tables[i][0]}}</option>
          {%endfor%}
      </select>
      <button type="submit" class="button-24" role="button">Search</button>
  </form>


  {% if item != "" %}
  <form method="POST" style="text-align: center" margin="10px 0px">
    <div class="data"> 
      {% for i in range(0, itemLen) %}
      <label>{{item[i][0]}}</label>
      <input  placeholder="{{item[i][1]}}">
   
      {%endfor%}
      <br>
      <button type="submit" class="button-24" role="button">{{selection1}}</button>
    </div>
   
  
  </form>
  {% endif %}
  </div>
</body>
</html>
