<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="../static/styles/edit_css.css">
<head>
    <title>Uređivanje</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1 style="text-align:center;">Uređivanje baze</h1>

    <form>
        <label for="menu1">Odaberi radnju</label>
        <select id="menu1" style="margin: 0px 40px">
          <option value="option1">Stvori novo</option>
          <option value="option2">Izmijeni</option>
          <option value="option3">Obriši</option>
        </select>
        <label for="menu2">Odaberi objekt</label>
        <select id="menu2" style="margin: 0px 0px">
          <option value="option1">Tura</option>
          <option value="option2">Misija</option>
          <option value="option3">Osoblje</option>
        </select>
      </form>
      


</body>
</html>
