<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/garaza.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Garaža</title>
</head>
<body>
<div class="center">
    <div style="text-align: center; margin-top: 10%;" class="cube">
        {%block content%} 
        <a href="/"><img  src=""><button class="button-24"  role="button">Home</button></a> 
        <h1 style="font-size: 70px; color: wheat;">Garaža</h1>
    
   <div class="sort">
       <form action ="" method="post" style="display: inline; margin: 30px; width: 1000px;">
            <input placeholder="Pretraži vozila..." id="search" name="search" value="{{request.form.search}}" style="width: 90%"> 
        </form>
   </div>
   <hr><hr>

    
        {% for i in range(0, garazaLen) %}
        <br/>
        <div class="garaza-list">
                <img src = "/static/img/vozilaSlike/{{i+1}}.jpg" width = 200 height = 100 style = "float: left;">
                <h3>#{{i+1}}</h3>
                <h3>Naziv: {{garaza[i][0]}}</h3>
                <h3>Vrsta: {{garaza[i][1]}}</h3><br/>
                <h3>Količina: {{garaza[i][2]}}</h3>
                <h3>Kapacitet vozila: {{garaza[i][3]}} osobe/a</h3>            

        </div>
        <hr>
        {%endfor%}
        <br/>
        {% endblock %} 
    </div>
</div>
</body>
</html>