<!DOCTYPE html>
<html lang="en">
    <title>Hrvatska Vojska</title>
    <link rel="stylesheet" href="../static/styles/index_css.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/342c3b803b.js" crossorigin="anonymous"></script>
   
</head>
<body>

     {%block content%}   

  
     
    <topMainbar>
        <div class="position">
            <nav>
                <div class="navicon">
                  <div></div>
                </div>
                <div class="poz">
                    <h1><a href="/statistika"><button style="width: 100%" class="button-24" role="button"><i class="fa-solid fa-chart-pie"></i> Statistika</button></a></h1>
                    <h1><a href="/ocjenjivanje/all/{{ime}}/{{prezime}}"><button style="width: 100%" class="button-24" role="button"><i class="fa-solid fa-ranking-star"></i> Ocjene</button></a></h1>
                    <h1><a href="/oprema"><button style="width: 100%" class="button-24" role="button"><i class="fa-solid fa-gun"></i> Oprema</button></a></h1>
                    <h1><a href="/garaza"><button style="width: 100%" class="button-24" role="button"><i class="fa-solid fa-warehouse"></i> Garaza</button></a></h1>
                    {% if cin == "General" %}
                    <h1><a href="/izmjena/insert/osoblje"><button style="width: 100%" class="button-24" role="button"><i class="fa-solid fa-file-pen"></i> Uredi Bazu</button></a></h1>
                    <h1><a href="/bolnica"><button style="width: 100%" class="button-24" role="button"><i class="fa-solid fa-hospital"></i> Bolnica</button></a></h1>
                    {% endif %}  
                   

                </div>
 
              </nav>
           </div>



        <h1>Dobro došao, {{ime}} {{cin}}</h1>
        
        <div class="imgalign">

            <ul class="wrapper">
                <li class="icon github">
                    
                    <a href="/profile"><img style="margin-top: 18px;" src="{{randimg}}"></a> 
                  <span class="tooltip">Profile</span>
                
                </li>
              </ul>

        </div>
        
    </topMainbar>
   

    <h1 style="z-index: -1;"> </h1>
    
    
    <imageCover>
        <h1 style="text-align: left; margin-left: 50px; font-size: 4vw;">HRVATSKA KOPNENA VOJSKA</h1>
           
        
       
       
            <div class="centerText">
                <div class="textHolder" style="margin-top: 150px;">
                    <h2 style="font-size: 20px;margin-bottom: 100px;"> {{VojskaText[0][0]}}</h2>
                </div>
            </div>
        
        
  
        
            <a style="text-align: left; margin-left: 150px;" href="/Kopnena Vojska/SAD%20tura"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button">Više <i class="fa-sharp fa-solid fa-circle-info"></i></button></a> 
            
            
   
    </imageCover>

    

   <h1 style="z-index: -1;"> </h1>
   
   
   
   <podstranica1>
    <imageCoverZrakoplovna>
        
        <h1 style="margin-left: 50px;">HRVATSKA RATNO ZRAKOPLOVSTVO</h1>
        
            <div class="textHolder" >
                <h2 style="font-size: 20px; ;">{{VojskaText[1][0]}}</h2>
            </div>
            <a style="text-align: left; margin-left: 150px;" href="/Ratno Zrakoplovstvo/SAD%20tura"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button">Više <i class="fa-sharp fa-solid fa-circle-info"></i></button></a> 
        
      
        
        
     
     </imageCoverZrakoplovna>
    </div>



    <h1 style="z-index: -2;"> </h1>
   </podstranica1>



   <podstranica2>
    <imageCoverPomorksa>
        <h1 style="margin-left: 50px;">RATNA MORNARICA</h1>
        <div class="textHolder">
            <h2 style="font-size: 20px;">{{VojskaText[2][0]}}</h2>
        </div>
       

            <a style="text-align: left; margin-left: 150px;" href="/Ratna Mornarica/SAD%20tura"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button">Više <i class="fa-sharp fa-solid fa-circle-info"></i></button></a> 
            
       
        
     </imageCoverPomorksa>
   
   
   </podstranica2>



<podstranica3>
 <imageCoverPolicija>
     <h1 style="margin-left: 50px;">VOJNA POLICIJA</h1>
     <div class="textHolder">

      <h2 style="font-size: 20px;">{{VojskaText[3][0]}}</h2>
     
     </div>
    <a style="text-align: left; margin-left: 150px;" href="/Vojna Policija/SAD%20tura"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button">Više <i class="fa-sharp fa-solid fa-circle-info"></i></button></a> 
    </imageCoverPolicija>

</podstranica3>
  

{% endblock %}





</body>
</html>






