<!DOCTYPE html>
<html lang="en">
    <title>Hrvatska Vojska</title>
    <link rel="stylesheet" href="../static/styles/index_css.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    
    
    <topbar>
       <a href="https://github.com/mateokocev/BP2---Vojska"> <img src="../static/img/github.png"></a>
    </topbar>
 
    <topMainbar>
        <img  src="../static/img/menuicon.png">
        <h1>Hrvatska Vojska</h1>
        <h1>Login</h1>
        <img  src="../static/img/profilecircle.png">
    </topMainbar>
   
   <div>
    
    <imageCover>
       <h1>HRVATSKA KOPNENA VOJSKA</h1>
       
       <div >
        <h2 style="font-size: 40px;">{%block body%} {{test}} {% endblock %}</h2>
        
        
        <h3>Saznaj Više!</h3>
        <button class="button-24" role="button">Saznaj Više!!</button>
       </div>
       
    </imageCover>
   </div>
   <h1>sadasdasd</h1>
   
   <podstranica1>
    <imageCoverZrakoplovna>
        <h1>HRVATSKA ZRAKOPLOVNA VOJSKA</h1>
        <div >
         <h2 style="font-size: 30px;">Hrvatska Vojska</h2>
         <h3>Saznaj Više!</h3>
          <button class="button-24" role="button">Saznaj Više!!</button>
        </div>
        
     </imageCoverZrakoplovna>
    </div>
    <h1>sadasdasd</h1>
    
   </podstranica1>

   <podstranica2>
    <imageCoverPomorksa>
        <h1>HRVATSKA POMORSKA VOJSKA</h1>
        <div>
         <h2 style="font-size: 60px;">Hrvatska Vojska</h2>
         <h3 style="font-size: 30px;color:black;">Saznaj Više!</h3>
          <button class="button-24" role="button">Saznaj Više!!</button>
        </div>
        
     </imageCoverPomorksa>
    </div>
    <h1>sadasdasd</h1>
    
   </podstranica2>
  

 
</body>
</html>






