<!DOCTYPE html>
<html lang="en">
    <title>Hrvatska Vojska</title>
    <link rel="stylesheet" href="../static/styles/index_css.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
   
    <topbar>
       
       <ul class="wrapper">
        <li class="icon github">
           <a href="https://github.com/mateokocev/BP2---Vojska"><img style="margin-right: 29px; margin-top: 5px;" src="/static/img/github.png"></a>
          <span class="tooltip">Github</span>
          <span><i class="fab fa-github"></i></span>
        </li>
      </ul>
    </topbar>
    

  
    {%block content%}    
    <topMainbar>
        <h1>

        {% if cin == "General" %}
            <a href="/izmjena/insert/osoblje"><button style="margin-left: 20px;" class="button-24" role="button">Uredi</button></a>
        {% endif %}
       
        </h1>
        <h1>Dobro došao, {{ime}} {{cin}}</h1>
        <a href="/ocjenjivanje/all"><button style="margin-top: 20px;" class="button-24" role="button">⭐</button></a>
        <div class="imgalign">

            <ul class="wrapper">
                <li class="icon github">
                    
                    <a href="/profile"><img style="margin-bottom: 6px;" src="{{randimg}}"></a> 
                  <span class="tooltip">Profile</span>
                  <span><i class="fab fa-github"></i></span>
                </li>
              </ul>
             
             
        
          
        </div>
        
    </topMainbar>
   
   
    
    
    
    <imageCover>
        <h1 style="text-align: center; font-size: 4vw;">HRVATSKA KOPNENA VOJSKA</h1>
           
        
       
       <div>
            <div class="centerText">
                <div class="textHolder" style="margin-top: 350px;">
                    <h2 style="font-size: 20px;"> {{VojskaText[0][0]}}</h2>
                </div>
            </div>
        </div>
        
        <div class="alignText">
            <h3>Saznaj Više!</h3>
        
            <form action="/Kopnena Vojska/SAD%20tura">
                <button class="button-24" role="button">Saznaj Više!!</button>
            </form>
            
        </div>
    </imageCover>

    

   <h1>razmak</h1>
   
   
   
   <podstranica1>
    <imageCoverZrakoplovna>
        
        <h1>HRVATSKA RATNO ZRAKOPLOVSTVO</h1>
        <div>
            <div class="textHolder" >
                <h2 style="font-size: 20px; ;">{{VojskaText[1][0]}}</h2>
            </div>
        </div>
        <div class="alignText">

            <h3>Saznaj Više!</h3>
            <form action="/Ratno Zrakoplovstvo/SAD%20tura">
                <button class="button-24" role="button">Saznaj Više!!</button>
            </form>
            
        </div>
     </imageCoverZrakoplovna>
    </div>



    <h1>razmak</h1>
   </podstranica1>



   <podstranica2>
    <imageCoverPomorksa>
        <h1 style="color:rgb(47, 47, 47);">RATNA MORNARICA</h1>
        <div class="textHolder">
            <h2 style="font-size: 20px;">{{VojskaText[2][0]}}</h2>
        </div>
       
            <h3 style="margin-left: 85%; color: rgb(43, 42, 42);">Saznaj Više!</h3>
            <form action="/Ratna Mornarica/SAD%20tura">
                <button class="button-24" role="button">Saznaj Više!!</button>
            </form>
            
        </div>
        
     </imageCoverPomorksa>
    </div>
    <h1>razmak</h1>
   </podstranica2>



<podstranica3>
 <imageCoverPolicija>
     <h1>VOJNA POLICIJA</h1>
     <div class="textHolder">

      <h2 style="font-size: 20px;">{{VojskaText[3][0]}}</h2>
     
     </div>
     <h3 style="font-size: 30px; margin-left: 85%;">Saznaj vise</h3>
     <form action="/Vojna Policija/SAD%20tura">
        <button class="button-24" role="button">Saznaj Više!!</button>
    </form>
     
  </imageCoverPolicija>
 </div>
</podstranica3>
  

{% endblock %}
</body>
</html>






