<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/informacije.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Misije</title>
</head>
<body>
   <div class="cover"><h1 style="font-size: 80px; color: white;">{{data}}</h1></div>
   <div class="shadow"></div>
    <div class="naslov">Misije</div>
    

    <div style=" margin-left: 5%; margin-right: 5%;" class="grids">
        {%for i in range(0, len)%}
       
        <div class="cards">
            <img src="/static/img/kopnena_back.png" >
            <h1>{{misije[i][0]}}</h1>
            <div class="opis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore blanditiis exercitationem rem, delectus ipsam ab dicta praesentium hic harum ullam culpa, necessitatibus deserunt repellendus ad, fugit veniam nesciunt. Nobis, voluptate!</div>
            <div class="bottomText">
                <p>{{misije[i][2]}}</p>
                <p>{{misije[i][3]}}</p>
                <p>{{misije[i][4]}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
     

       

<div class="naslov">Vozila na misiji</div>
    
<div style=" margin-right: 5%;margin-left:  5%;" class="grids">

    {% for i in range(0, lenVozila) %}
       
    <div class="cards">
        <img src="/static/img/kopnena_back.png" >
        <h1>{{vozila[i][0]}}</h1>
       
        
        <div class="bottomText">
            <p>{{vozila[i][2]}}</p>
            <p>{{vozila[i][4]}}</p>
            <p>{{vozila[i][3]}}</p>

          
        </div>
    </div>
    {%endfor%}

</div>
<div class="naslov">Osoblje na Misiji</div>

<div style=" margin-right:  5%;margin-left:  5%;" class="grids">

    {% for i in range(0, len2) %}
       
        <div class="cards">
            <img src="/static/img/kopnena_back.png" >
            <h1>{{osoblje[i][0]+" "+osoblje[i][1]}}</h1>
           
            <img style=" width: auto;  margin-left: 43%;" src="/static/img/cin/{{osoblje[i][2]}}.png">
            <div class="bottomText">
                <p>{{osoblje[i][2]}}</p>
                <p>{{osoblje[i][4]}}</p>
                <p>{{osoblje[i][3]}}</p>

              
            </div>
        </div>
        {%endfor%}



</div>
</body>
</html>