<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/informacije.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <div class="cover"><h1 style="font-size: 80px; color: white;">{{data}}</h1></div>
    <h2>Misije</h2>
    

    <div style=" margin-left: 25%; margin-right:  10px;" class="grids">

        <div class="cards">
            <img src="/static/img/kopnena_back.png" >
            <h1>test</h1>
            <div class="opis">Lorem Ip sheets contaiare like Aldus PageMakerheets contaiiare like Aldus PageMakerheets ciare like Aldus Paiare like Aldus PageMakerheets coniare like Aldus PageMakerheets coniare like Aldus PageMakerheets congeMakerheets coniare like Aldus PageMakerheets cononiare like Aldus PageMakerheets coniare like Aldus PageMakerheets coniare like Aldus PageMakerheets conare like Aldus PageMaker including ver</div>
            <div class="bottomText">
                <p>test</p>
                <p>test</p>
                <p>test</p>
            </div>
        </div>

        </div>


<h1 style="text-align: center; margin-top: 60px;">Vozila na misiji</h1>
    
<div style=" margin-right:  250px;margin-left:  250px;" class="grids">

    <div class="cards">
        <img src="/static/img/kopnena_back.png" >
        <h1>test</h1>
        <div class="opis">Lorem Ip sheets contaiare like Aldus PageMakerheets contaiiare like Aldus PageMakerheets ciare like Aldus Paiare like Aldus PageMakerheets coniare like Aldus PageMakerheets coniare like Aldus PageMakerheets congeMakerheets coniare like Aldus PageMakerheets cononiare like Aldus PageMakerheets coniare like Aldus PageMakerheets coniare like Aldus PageMakerheets conare like Aldus PageMaker including ver</div>
        <div class="bottomText">
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
    </div>

</div>
<h1 style="text-align: center; margin-top: 60px;">Osoblje na Turi</h1>

<div style=" margin-right:  250px;margin-left:  250px;" class="grids">

    <div class="cards">
        <img src="/static/img/kopnena_back.png" >
        <h1>test</h1>
        <div class="opis">Lorem Ip sheets contaiare like Aldus PageMakerheets contaiiare like Aldus PageMakerheets ciare like Aldus Paiare like Aldus PageMakerheets coniare like Aldus PageMakerheets coniare like Aldus PageMakerheets congeMakerheets coniare like Aldus PageMakerheets cononiare like Aldus PageMakerheets coniare like Aldus PageMakerheets coniare like Aldus PageMakerheets conare like Aldus PageMaker including ver</div>
        <div class="bottomText">
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
    </div>

</div>
</body>
</html>