<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/informacije.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Misije</title>
</head>
<body>
    
   <div class="cover">
    <h1 style="font-size: 80px; color: white;">{{data}}</h1>
    </div>
    
   <div class="shadow"></div>
   <h1 style="text-align: center; color: white;"> {{sektor}}</h1>
<div  class="naslov">Vozila na misiji</div>
    
<div style=" margin-right: 5%;margin-left:  5%;" class="grids">

    {% for i in range(0, lenVozila) %}
       
    <div class="cards">
        <img src="/static/img/kopnena_back.png" >
        <h1>{{vozila[i][0]}}</h1>
        <h3>Vrsta: {{vozila[i][1]}}</h3>
        <h3>Ukupna kolicina: {{vozila[i][2]}}</h3>
        <h3>Kapacitet: {{vozila[i][3]}}</h3>
        
        <div class="bottomText">
            <p>{{vozila[i][2]}}</p>
            <p>{{vozila[i][4]}}</p>
            <p>{{vozila[i][3]}}</p>

          
        </div>
    </div>
    {%endfor%}

</div>
<h1 style="text-align: center; color: white;"> {{sektor}}</h1>
<div class="naslov">Osoblje na Misiji</div>

<div style=" margin-right:  5%;margin-left:  5%;" class="grids">

    {% for i in range(0, len2) %}
       
        <div class="cards">
            <img src="/static/img/kopnena_back.png" >
            <h1>{{osoblje[i][0]+" "+osoblje[i][1]}}</h1>
           
            <img style=" width: auto;  margin-left: 43%;" src="/static/img/cin/{{osoblje[i][2]}}.png">
            <div class="bottomText">
                <p>{{osoblje[i][2]}}</p>
                <p>{{osoblje[i][4]}}</p>
                <p>{{osoblje[i][3]}}</p>

              
            </div>
        </div>
        {%endfor%}
 

</div>


<div class="naslov">Statistika</div>

<div class="graphgrid">
  

        <img  class="graph" src="/static/img/statistics/{{Stroskovi}}" alt="">
            <div class="graphtext">
                <h1>Trošak misije</h1> 
                    <div>
                        Prikaz Troška misije nasprema ostalih misija


                        <h4>{{Troskovi[0][1]}}</h4>
                        <p><b>{{Troskovi[0][0]}}</b></p>

                        <h4>Troskovi {{Troskovi[1][1]}}:</h4>
                        <p><b>{{Troskovi[1][0]}}</b></p>


                    </div>
            </div>


        <img  class="graph" src="/static/img/statistics/{{Sosoblje}}" alt="">
        
            <div class="graphtext">
                <h1>Osoblje</h1> 
                    <div>
                        Usporedba osoblja na misiji sa svim osobljem u vojsci

                        <h4>{{Osoblje[0][1]}}</h4>
                        <p><b>{{Osoblje[0][0]}}</b></p>

                        <h4>{{Osoblje[1][1]}} u vojsci:</h4>
                        <p><b>{{Osoblje[1][0]}}</b></p>


                    </div>
            </div>


        <img  class="graph" src="/static/img/statistics/{{Svozila}}" alt="">
            
            <div class="graphtext">
                <h1>Vozila</h1> 
                    <div>
                        Usporedba osoblja na misiji sa svim osobljem u vojsci

                        <h4>{{Vozila[0][1]}}</h4>
                        <p><b>{{Vozila[0][0]}}</b></p>

                        <h4>{{Vozila[1][1]}}:</h4>
                        <p><b>{{Vozila[1][0]}}</b></p>


                    </div>
            </div>
                
        
            
        
        
        

    
</div>

</body>
</html>
