<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/izmjeni.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Ocjenjivanje</title>
    <script src="https://kit.fontawesome.com/342c3b803b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="center">
    <div style="text-align: center; margin-top: 10%;" class="cube">
        
        
        <a href="/"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button"><i class="fa-solid fa-house"></i> Početna</button></a> 
        <h2 style="font-size: 100px; color: wheat;">Uredi Podatke</h2>
        
       


        <h1 style="margin-top: 10%; font-size: 100px; color: wheat;">{{err}}</h1>
        <a href="/izmjena/insert/osoblje"><button style=" margin-bottom: 10px;" class="button-24" role="button"><i class="fa-solid fa-pen"></i> Dodaj</button></a>  
        <a href="/izmjena/update/osoblje"><button style=" margin-bottom: 10px;" class="button-24" role="button"><i class="fa-solid fa-wrench"></i> Promjeni</button></a>
        <a href="/izmjena/delete/osoblje/0"><button style=" margin-bottom: 10px;" class="button-24" role="button"> <i class="fa-solid fa-trash-can"></i> Izbriši</button></a>
        


       
        <p style="font-size: 20px; color: rgb(154, 2, 2);">{{error}}</p>
   
        <div class="grid8">
    <a href="/izmjena/insert/lijecenje"><button style=" margin-bottom: 10px;" class="newButton" role="button"> lijecenje</button></a>
    <a href="/izmjena/insert/misija"><button style=" margin-bottom: 10px;" class="newButton" role="button"> misija</button></a>
    <a href="/izmjena/insert/oprema"><button style=" margin-bottom: 10px;" class="newButton" role="button"> oprema</button></a>
    <a href="/izmjena/insert/osoblje"><button style=" margin-bottom: 10px;" class="newButton" role="button"> osoblje</button></a>
    <a href="/izmjena/insert/popravak"><button style=" margin-bottom: 10px;" class="newButton" role="button"> popravak</button></a>
    <a href="/izmjena/insert/trening"><button style=" margin-bottom: 10px;" class="newButton" role="button"> trening</button></a>
    <a href="/izmjena/insert/tura"><button style=" margin-bottom: 10px;" class="newButton" role="button"> tura</button></a>
    <a href="/izmjena/insert/vozila"><button style=" margin-bottom: 10px;" class="newButton" role="button"> vozila</button></a>  
    <a href="/izmjena/insert/lokacija"><button style=" margin-bottom: 10px;" class="newButton" role="button"> lokacija</button></a>  
   
        
   </div>
   <hr>
   <h3 style="font-size: 60px; color: wheat;">Dodaj {{tablica}}</h3>
    
      
       
                   
            <form method="POST" margin="10px 0px">
                {% if tablica == "osoblje" %}

                <div>
                    <label>Sektor</label>
                    <br>
                    <select id="menu1" name="podatak1" style="margin: 5px 5px">
                        <option value="1">Hrvatska kopnena vojska  </option>
                        <option value="2">Hrvatska ratna mornarica  </option>
                        <option value="3">Hrvatsko ratno zrakoplovstvo </option>
                        <option value="4">Hrvatska vojna policija </option>
                    </select>
                </div>

                <div>
                    <label>Ime</label>
                    <input required  id="ime" name="podatak2" placeholder="test" >
                </div>

                <div>
                    <label>Prezime</label>
                    <input required  id="" name="podatak3" placeholder="test">
                </div>

              
                
                <div>
                    <label>Čin</label>
                    <br>
                    <select id="menu1" name="podatak4" style="margin: 5px 5px">
                        {% for x in range(0, cinLen) %}
                        <option value="{{cinovi[x]}}">{{cinovi[x]}} </option>
                        {% endfor %}

                    </select>
                </div>

                    <div>
                        <label>Datum Rođenja</label>
                        <input required  type="date" name="podatak5" placeholder="dd-mm-yyyy" value="" min="01.01.1900" max="01.01.2030">
                    </div>

                        <div>
                            <label>Datum Učlanjenja</label>
                          
                            <input required  type="date" name="podatak6" placeholder="dd-mm-yyyy" value="" min="01.01.1900" max="01.01.2030">
            
                        </div>
                    <div>
                        <label>Status Osoblja</label>
                        <input required  id="" name="podatak7" placeholder="test">
                    </div>

                    <div>
                        <label>Krvna Grupa</label>
                        <input required  id="" name="podatak8" placeholder="test">
                    </div>

                <div>
                    <label>Ocjena</label>
                    <input required  type="number" id="" name="podatak9" placeholder="test">
                </div>

                
                
                {% endif %}


                {% if tablica == "vozila" %}
                <div>
                    <label>Naziv</label>
                    <input required  id="" name="podatak1" placeholder="Naziv">
                </div>
                <div>
                    <label>Vrsta</label>
                    <input required  id="" name="podatak2" placeholder="Naziv">
                </div>
                <div>
                    <label>Ukupna Količina</label>
                    <input  type="number" required  id="" name="podatak3" placeholder="Broj">
                </div>
                <div>
                    <label>Kapacitet</label>
                    <input type="number"  required  id="" name="podatak4" placeholder="Broj">
                </div>

                {% endif %}


                {% if tablica == "tura" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>
                <div>
                    <label>Naziv</label>
                    <input required  id="" name="podatak1" placeholder="test">
                </div>


                <div>
                    <label>Vrsta Ture</label>
                    <select id="menu1" name="podatak2" style="margin: 5px 5px">
                        <option value="Mirovna tura">Mirovna tura</option>
                        <option value="Vojna tura">Vojna tura</option>
                    </select>
                </div>
                
                    <div>
                        <label>Vrijeme početka</label>
                        <input required  type="date" name="podatak3" placeholder="dd-mm-yyyy" value="" min="01.01.1900" max="01.01.2030">
                    </div>

                    <div>
                        <label>Vrijeme Kraja</label>
                        <input required  type="date" name="podatak4" placeholder="dd-mm-yyyy" value="" min="01.01.1900" max="01.01.2030">
                    </div>

                
                {% endif %}


                {% if tablica == "trening" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>

                <div>
                    <label>Datum Rođenja</label>
                    <input type="datetime-local" id="meeting-time" name="podatak1"   step="2">
                </div>

                <div>
                    <label>Vrijeme kraja</label>
                    <input type="datetime-local" id="meeting-time" name="podatak2" step="2">
                </div>

               <div>
                <label>Lokacija</label>
                <select id="menu1" name="podatak3" style="margin: 5px 5px">
               

                    {% for x in range(0, lokacijaLen) %}

                    <option value="{{lokacija[x][0]}}">{{lokacija[x][1]}}</option>

                    {%endfor%}
                </select>
            </div>



                
                {% endif %}


                {% if tablica == "popravak" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>

                <div>
                    <label>Lokacija</label>
                    <select id="menu1" name="podatak1" style="margin: 5px 5px">
                   
    
                        {% for x in range(0, popravakLen) %}
    
                        <option value="{{popravak[x][0]}}" >{{popravak[x][1]}}</option>
    
                        {%endfor%}
                    </select>
                </div>

                <div>
                    <label>Opis Štete</label>
                    <input required id=""   name="podatak2" placeholder="id">
                </div>


                <div>
                    <label>Početak popravak</label>
                    <input required id="appt-time"  type="date" name="podatak3" step="2" />
                </div>

                <div>
                    <label>Kraj popravka</label>
                    <input required id="appt-date"  type="date" name="podatak4" step="2" />
                </div>

                <div>
                    <label>Trosak popravka</label>
                    <input required id="appt-date"  type="number" name="podatak5" step="2" />
                </div>




                
                {% endif %}


                {% if tablica == "oprema" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>

                <div>
                    <label>Naziv</label>
                    <input required  id="" name="podatak1" placeholder="naziv">
                </div>


                <div>
                    <label>Vrsta</label>
                    <input required   id="" type="text" name="podatak2" placeholder="vrsta">
                </div>

               <div>
                <label>Ukupna Kolicina</label>
                <input  type="number" required   id="" type="text" name="podatak3" placeholder="ukupni broj">
               
            </div>              
                {% endif %}

                {% if tablica == "misija" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>

                <div>
                    <label>Naziv</label>
                    <input required  id="" name="podatak1" placeholder="naziv">
                </div>

                
                <div>
                    <label>Datum kraja</label>
                    <input required  type="date" name="podatak2" placeholder="dd-mm-yyyy" value="" min="01.01.1900" max="01.01.2030">
                </div>

                
                <div>
                    <label>Datum kraja</label>
                    <input required  type="date" name="podatak3" placeholder="dd-mm-yyyy" value="" min="01.01.1900" max="01.01.2030">
                </div>

                <div>
                    <label>Lokacija</label>
                    <select id="menu1" name="podatak4" style="margin: 5px 5px">
                   
    
                        {% for x in range(0, lokacijaLen) %}
    
                        <option value="{{lokacija[x][0]}}">{{lokacija[x][1]}}</option>
    
                        {%endfor%}
                    </select>
                </div>
                <div>
                    <label>Tura</label>
                    <select id="menu1" name="podatak5" style="margin: 5px 5px">
                   
    
                        {% for x in range(0, turaLen) %}
    
                        <option value="{{tura[x][0]}}">{{tura[x][1]}}</option>
    
                        {%endfor%}
                    </select>
                </div>

                <div>
                    <label>Ishod</label>
                    <input required   id="" type="text" name="podatak6" placeholder="vrsta">
                </div>

               <div>
                <label>Trosak misije</label>
                <input required  type="number" id="" type="text" name="podatak7" placeholder="ukupni broj">
               
            </div>



                
                {% endif %}


              


                {% if tablica == "lokacija" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>

                <div>
                    <label>Sektor</label>
                    <br>
                    <select id="menu1" name="podatak1" style="margin: 5px 5px">
                        <option value="1">Hrvatska kopnena vojska  </option>
                        <option value="2">Hrvatska ratna mornarica  </option>
                        <option value="3">Hrvatsko ratno zrakoplovstvo </option>
                        <option value="4">Hrvatska vojna policija </option>
                    </select>
                </div>

                <div>
                    <label>Naziv</label>
                    <input required   id="" type="text" name="podatak2" placeholder="vrsta">
                </div>


                <div>
                    <label>zemljopisna Dužina</label>
                    <input type="number" required   id="" type="text" name="podatak3" placeholder="Broj">
                </div>


            <div>
                <label>zemljopisna Širina</label>
                <input type="number" required   id="" type="text" name="podatak4" placeholder="Broj">
            </div>

                <br>
               

                {% endif %}  




                {% if tablica == "lijecenje" %}
                <h1>ID</h1>
                <h1>{{maxid[0]+1}}</h1>

                <div>
                    <label>Osoblje</label>
                    <select id="menu1" name="podatak1" style="margin: 5px 5px">
                        {% for x in range(0, osobljeImeLen) %}
    
                        <option value="{{osobljeIme[x][0]}}">{{1000+x}}: {{osobljeIme[x][1]}}</option>
    
                        {%endfor%}
                    </select>
                </div>


                <div>
                    <label>Status lijecenja</label>
                    <br>
                    <select id="menu1" name="podatak2" style="margin: 5px 5px">
                        <option value="Izliječen">Izliječen</option>
                        <option value="U tijeku">U tijeku</option>

                    </select>
                </div>

                
                <div>
                    <label>Početak lijecenja</label>
                    <input required id="appt-time"  type="date" name="podatak3" step="2" />
                </div>


                <div>
                    <label>Kraj lijecenja</label>
                    <input required id="appt-time"  type="date" name="podatak4" step="2" />
                </div>




                <div>
                    <label>Opis ozljede</label>
                    <br>
                    <select id="menu1" name="podatak5" style="margin: 5px 5px">
                        <option value="Slabo ozljieđen">Slabo ozljieđen</option>
                        <option value="Srednje ozlijeđen">Srednje ozlijeđen</option>
                        <option value="Ozbiljno ozlijeđen">Ozbiljno ozlijeđen</option>


                        

                    </select>
                </div>

                <div>
                    <label>Trošak Lijecenja</label>
                    <input type="number" required   id="" type="text" name="podatak6" placeholder="Broj">
                </div>


                <br>
               

                {% endif %}  


                  <br>
                <a href="/izmjena/insert/vozila"><button  type="submit"  style=" margin-bottom: 10px; height: 50%; width: 50%;" class="newButton" role="button"><i class="fa-solid fa-plus"></i></button> </a>
               
            </form>
          
            

       
        <hr>    
              <h1 style="color: antiquewhite;">Podatci</h1>
              <hr>
              <div style="grid-template-columns: {{ getRowLen * 'auto '}} ;" class="gridauto">
                {% for i in range(0, getDatalen) %}

                    {% for x in range(0, 10) %}

                        {% if getData[i][x] or getData[i][x] == None or getData[i][x] == "" %}
                        
                        <p style="color: antiquewhite;">{{getData[i][x]}}</p>
                       
                        {% endif %}
                       
                    {%endfor%}
                    
                {%endfor%}
                
              </div>
      

              <div>
                <canvas id="myChart"></canvas>
              </div>
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


        <a href="/"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button"><i class="fa-solid fa-house"></i></button></a> 
        <a href="/izmjena/insert/{{tablica}}"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button"><i class="fa-solid fa-arrows-rotate"></i></button></a> 
      
        


       
    </div>
</div>
</body>
</html>



