<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/kopnenaVojska.css">
    <title>Kopnena Vojska</title>
</head>
<body>
    <div class="sticky">
        <li>K</li>
        <li>O</li>
        <li>P</li>
        <li>N</li>
        <li>E</li>
        <li>N</li>
        <li>A</li>
        <p></p>
        <li>V</li>
        <li>O</li>
        <li>J</li>
        <li>S</li>
        <li>K</li>
        <li>A</li>
      </div>

  
    
    
    <div class="cover2">
        
        <div style="padding-top: 350px;"></div>
        
        <h1 style="text-align: center; color: white; font-size: 150px; margin-top: 250px;">TURE</h1>
        <h5 style="text-align: center; color: white; font-size: 20px;">Kopnena Vojska</h3>
        <div class="grid3" style="margin-top: 800px; margin-bottom: 400px;">
            {%for i in range(0, len)%}
            <a href="kopnena/{{data[i][0]}}">
                <div class="newcube">
                    <div class="newcubeNaslov">{{data[i][0]}}</div>
                    
                    <div class="newcubeDatumPocetka"><p>{{data[i][2]}}</p> <p>{{data[i][3]}}</p></div>
                    <div class="newcubeOpis"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur expedita ullam sapiente laboriosam, consectetur ab quia adipisci quae fuga velit illo magni, officia, cupiditate dolorum recusandae quas odit vitae quod.</p></div>
                    <div class="newcuveImg"></div>
                 
                   </div>
            </a>
         
           
           {%endfor%}
        </div>
    </div>

            
            

        
   
  
    
    
</body>
</html>