<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/kopnenaVojska.css">
    <title>Kopnena Vojska</title>
</head>
<body>

    <div class="topBar">
        <h1>ime</h1>
        <h1>kopnena Vojska</h1>
        <h1>profile</h1>
    </div>
    <div class="cover">
        <h1>Kopnena Vojska</h1>
    </div>
    <div class="databox">
        <div class="shadow"></div>
        <h1>Ture</h1>
        
        <div class="data">
            
            {%for i in range(0, len)%}
  
  

       
            <a href="kopnena/{{data[i][0]}}">
                <div  class="cube">
                   
                    <div class="naslov">{{data[i][0]}}</div>
                    <div class="nazivmisije">{{data[i][1]}}</div>
                    <div class="vrijemepocetka">{{data[i][2]}}</div>
                    <div class="vrijemekraja">{{data[i][3]}}</div>
                    
                </div>
                <div class="cubeimg"><p>v</p></div>
            </a>

            {%endfor%}
            
            

        </div>
    </div>
    <div class="cover">
        <h1>test</h1>
   
    </div>
    
    
</body>
</html>