<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/kopnenaVojska.css">
    <title>Kopnena Vojska</title>
</head>
<body>

    <div class="topBar">
        <h1>ime</h1>
        <h1>kopnena Vojska</h1>
        <h1>profile</h1>
    </div>
    <div class="cover">
        <h1>Kopnena Vojska</h1>
    </div>
    
    
    <div class="cover2">
        <div class="shadow"></div>
        <h1 style="text-align: center;margin-top: 250px; color: white; font-size: 80px;">TURE</h1>
        <div class="grid3">
            {%for i in range(0, len)%}
            <a href="kopnena/{{data[i][0]}}">
                <div class="newcube">
                    <div class="newcubeNaslov">{{data[i][0]}}</div>
                    
                    <div class="newcubeDatumPocetka"><p>{{data[i][2]}}</p> <p>{{data[i][3]}}</p></div>
                    <div class="newcubeOpis"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur expedita ullam sapiente laboriosam, consectetur ab quia adipisci quae fuga velit illo magni, officia, cupiditate dolorum recusandae quas odit vitae quod.</p></div>
                    <div class="newcuveImg"></div>
                 
                   </div>
            </a>
         
           
           {%endfor%}
        </div>
    </div>
    
    
    <div class="databox">
        <div class="shadow"></div>
        <h1>Ture</h1>
        
        <div class="data">
            
            {%for i in range(0, len)%}
            <a href="kopnena/{{data[i][0]}}">
                <div  class="cube">
                   
                    <div class="naslov">{{data[i][0]}}</div>
                    <div class="nazivmisije">{{data[i][1]}}</div>
                    <div class="vrijemepocetka">{{data[i][2]}}</div>
                    <div class="vrijemekraja">{{data[i][3]}}</div>
                    
                </div>
                <div class="cubeimg"><p>v</p></div>
            </a>

            {%endfor%}
            
            

        </div>
    </div>
  
    
    
</body>
</html>