<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/ocjenjivanje.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Ocjenjivanje</title>
</head>
<body>
<div class="center">
    <div style="text-align: center; margin-top: 3000px;" class="cube">
        {%block content%} 
        <a href="/"><img  src=""><button class="button-24"  role="button">Home</button></a> 
        <h2 style="font-size: 40px; color: wheat;">{{ime}}</h2>


        <h1 style="margin-top: 10%; font-size: 100px; color: wheat;">{{err}}</h1>


        {% for i in range(0, lenosoblje) %}
        <div class="ocjena">
                <h3>{{i+1}}</h3>
                <h3>{{osoblje[i][0]}}</h3>
                <h3>{{osoblje[i][1]}}</h3>
                <h3>{{osoblje[i][2]}}</h3>
                <h3>{{osoblje[i][3] * '⭐'}}</h3>
            
            

        </div>

        {%endfor%}




        <a href="/"><img  src=""><button style="margin-top: 20px;" class="button-24"  role="button">Home</button></a> 
      
        

        {% endblock %} 

       
    </div>
</div>
</body>
</html>