<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>MyProfile</title>
</head>
<body>
    <div class="center">
        <div class="cube">
            <div class="griddivide">
                <div class="leftbar">
                    <div class="profileimg">
                        <img src="/static/img/profilecircle.png" alt="">
                    </div>
                    
                    <div class="cinimg">
                        <img src="/static/img/cin/general2.png">
                    </div>
                    
                </div>
            <div class="informacije">
                <h1>Informacije</h1>
                <hr>
                    <div class="grid2"><p>ime:</p><h1>{{asdasd}}</h1><p style="margin-left: 10px;">prezime:</p> <h1>{{prezime}}</h1></div>
                <hr>
                <div class="grid8">
                    
                    <p>Čin:</p><h4>{{cin}}</h5><p>Datum rođenja:</p> <h5>{{datum_rodenja}}</h5>
                    <p>Datum Učlanjenja:</p><h5>{{datum_uclanjenja}}</h5><p>Datum rođenja:</p> <h5>{{status_osoblja}}</h5>
                    <p>Krvna grupa:</p><h5>{{krvna_grupa}}</h5><p>Datum rođenja:</p> <h5>{{status_osoblja}}</h5>
                
                </div>
            </div>

            </div>
            
        </div>
    </div>
  
</body>
</html>