<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/newdesign.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div class="name">
    <li>P</li>
    <li>A</li>
    <li>K</li>
    <li>I</li>
    <li>S</li>
    <li>T</li>
    <li>A</li>
    <li>N</li>
    <p></p>
    <li>T</li>
    <li>U</li>
    <li>R</li>
    <li>A</li>
  </div>
        <div class="navbar">
            <h1 style="text-align: left;">IME</h1>
            <h1 style="text-align: center;">IME</h1>
            <h1 style="text-align: right; ">IME</h1>
        </div>
    <div class="cover">
        <h1><b>Pakistan</b> </h1>
        <p>TURA</p>
    </div>

    <div class="cover2">
        <div class="grid3">
            <div class="card">
                <div class="opis"><p>Prvi sjvetski</p></div>    
            </div>

            <div class="card">
                <div class="opis"><p>Drugi sjvetski</p></div>    
            </div>

            <div class="card">
                <div class="opis"><p>Treci sjvetski</p></div>    
            </div>
        </div>

        

        <p style="margin-top: 50px;padding: 30px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <button class="tipka">View</button>

        <div class="cover2">

            <h1 style="margin-top: 250px;">Misije</h1>

            <div class="grid2">
                <div class="newcube"><h1>test</h1></div>
                <div class="newcube"><h1>test</h1></div>
            </div>
      
      
       
      </div>
    </div>
   
</body>
</html>