<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/newdesign.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Ture</title>
</head>
<body>
    <div class="sidebar">
        <h1>Kopnena Vojska</h1>
    
    {%for i in range(0, len)%}

        <a href="{{data[i][0]}}">
            <div class="item">
                <h2>{{data[i][0]}}</h2>
            </div>
        </a>
        
        <hr>
    {%endfor%}
    </div>
    <div class="main">
        <div class="cover">
            <h1><b>Kopnena Vojska</b> </h1>
            <h3 style="text-align: center; font-size: 40px;">{{misija}}</h3>
            
        </div>
    
          
      
            <div class="grid3" style=" margin-bottom: 400px; margin-top: 250px;">
                {%for i in range(0, len2)%}
                <a href="/informacije/{{MisijenaTuri[i][6]}}">
                    <div class="newcube">
                        <div class="newcubeNaslov">{{MisijenaTuri[i][6]}}</div>
                        
                        <div class="newcubedata"><p>{{MisijenaTuriDatumi[i][0]}}</p> <p></p> <p>{{MisijenaTuriDatumi[i][1]}}</p></div>
                       <div class="opis">{{MisijenaTuri[i][11]}}</div>
                       
                     
                       </div>
                </a>
             
               
               {%endfor%}
            </div>
        
        
        <div class="cover2">
           
    </div>
      
    
   
</body>
</html>