*
{
    font-family: 'Poppins',sans-serif;
}
body
{
    background-image: url(../img/login_back.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size:     cover; 
}



.cube
{   
   
    background-color: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    width: 1000px;
    height: 800px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px;

}
.center
{
    margin-left: 50%;
    margin-top: 25%;

}
