*
{
    font-family: 'Poppins',sans-serif;
}
body
{
    background-image: url(../img/login_back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size:     cover; 
}



.cube
{   
    
    background-color: rgba(255,255,255,0.13);
    
    border-radius: 5px;
    width: 1000px;
    height: 100%;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px;

}
.center
{
    margin-left: 25%;
    

}
.informacije{
    
    text-align: right;
    right: 0%;
    padding: 20px;
    width: 600px;
    height: 95%;
   
}
.informacije h1 {
   text-align: center;
}



.grid2
{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100px;

   
}
.grid8
{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    
    height: 60%;
   
    grid-auto-rows: 100px;
}



form
{
    text-align: left;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    
    height: 60%;
    grid-auto-rows: 100px;
}
label
{
    font-size: 20px;
    text-align: left;
}


    select{
        display: block;
        height: 40px;
        width: 80%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    ::placeholder{
        color: #e2e2e2;
    }


.leftbar
{   
    height: 772px;
    margin-left: 167px;
    
    background-color: rgba(63, 178, 213, 0.13);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(28, 44, 138, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px;

}

.griddivide
{
    display: grid;
    grid-template-columns: 500px 400px;
  
    grid-auto-rows: 800px;
}


.cinimg
{   position: absolute;
    left: 35%;
    bottom: 5%;

}

.cinimg img
{
  width: 100px;
 
}


.profileimg
{  
     position: absolute;
    left: 28%;
    top: 10%;
    
  
   
}

.profileimg img
{
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}





.profileimg img
{   width: 150px;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;}
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;} 
  .button-24:active { opacity: .5;}



  .ocjena
  {
    background-color: rgba(250, 235, 215, 0.182);
    display: grid;
    border: 10px;
    font-size: 0.8vw;
    gap: 20px;
    column-gap: 10px;
    text-align: left;
    padding: 10px;
    
    grid-template-columns: 20% 20% 30% 20% 20%;
  }


.sort
{
    display: grid;
    gap: 20px;
    
    column-gap: 10px;
    grid-template-columns: auto  auto ;
}
.grid8
{
    display: grid;
    text-align: center;
    gap: 20px;
   
   
    column-gap: 10px;
    
    grid-template-columns: auto  auto auto auto auto auto auto auto auto auto ;
}
.gridauto
{
    display: grid;
    text-align: center;
    gap: 20px;
    column-gap: 10px;

}


input{
    display: block;
    height: 40px;
    width: 80%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
::placeholder{
    color: #e2e2e2;
}



.newButton {
    background: #FF4742;
    width:100px ;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;}
  .newButton:hover,
  .newButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;} 
  .newButton:active { opacity: .5;}

  input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }






      #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
      }
      
      /* Show the snackbar when clicking on a button (class added with JavaScript) */
      #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      /* Animations to fade the snackbar in and out */
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }

  

      .control {
        font-family: arial;
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        padding-top: 3px;
        cursor: pointer;
        font-size: 16px;
    }
        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border: 0px solid #000000;
        border-radius: 13px;
    }
    .control:hover input ~ .control_indicator,
    .control input:focus ~ .control_indicator {
        background: #cccccc;
    }
    
    .control input:checked ~ .control_indicator {
        background: #2aa1c0;
    }
    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background: #0e6647d;
    }
    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-checkbox .control_indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .control-checkbox input:disabled ~ .control_indicator:after {
        border-color: #7b7b7b;
    }
    .control-checkbox .control_indicator::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 4.5rem;
        height: 4.5rem;
        margin-left: -1.3rem;
        margin-top: -1.3rem;
        background: #2aa1c0;
        border-radius: 3rem;
        opacity: 0.6;
        z-index: 99999;
        transform: scale(0);
    }
    @keyframes s-ripple {
        0% {
            transform: scale(0);
        }
        20% {
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(1);
        }
    }
    @keyframes s-ripple-dup {
       0% {
           transform: scale(0);
        }
       30% {
            transform: scale(1);
        }
        60% {
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(1);
        }
    }
    .control-checkbox input + .control_indicator::before {
        animation: s-ripple 250ms ease-out;
    }
    .control-checkbox input:checked + .control_indicator::before {
        animation-name: s-ripple-dup;
    }