*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{ background: rgb(89,89,89);

}
.cube
{   position: relative;
    width: 100%;
    height: 30%;
   
    background-color: #af997fe0;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    backdrop-filter: blur(50px);
 
    box-shadow: 0 0 20px rgba(8,7,16,0.6); 
}





.cubeimg
{   position: relative;
   
    width: 100%;
    height: 40%;
    background-position-y: 50%;
    transform: translate(0%,-60%);
    background-image: url(/static/img/Ture/1.jpg);
    border-radius: 20px;
    filter: blur(3px);
    z-index: -1;
    transform:translateY(-40%);
    
    transition: 0.5s ease-out;
    
    box-shadow: 0 0 40px rgba(8,7,16,0.6); 
}

.cubeimg p
{
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 20px;
   
}

.cubeimg:hover 
{   transition-delay: 5s;
    transition: 0.4s ease-out;
    cursor: pointer;
    filter: blur(0px);
   
    transform: translate(0%,-10%);
   
    
}
.naslov
{  
    text-align: center;
    color: white;
    font-size: 1.5vw;
}



.shadow
{
    
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    height: 50px;

}
.nazivmisije
{   position: absolute;
    width: 100%;

    color: rgb(209, 42, 42);
    bottom: 0px;
    text-align: center;
    padding: 10px;
   
    
}

.vrijemepocetka
{   position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 1vw;
    color: white;
    padding: 10px;
    text-align: left;
}

.vrijemekraja
{   position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 1vw;
    color: white;
    right: 20px;
    padding: 10px;
    text-align: right;
}
.ishod
{   text-align: left;
    background-color: #936f4f82;
    width: 97%;
    border-radius: 20px;
    padding-top: 10px;
    margin-left: 5px;
    
    overflow-wrap: break-word;
    margin-bottom: 80px;
    height: 80%;
    
    
    
   
    
    text-align: right;
}

.nazivmisije
{   position: relative;
    width: 100%;

    font-size: 0.8vw;
   
    
    text-align: center;
    
   
    
}

.topBar
{   text-align: center;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    height: 50px;
    font-size: 10px    ;
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
    width: auto;
    background: rgb(30, 30, 30);
    
    
}

.topBar *
{   color: aliceblue;
    
    
}
  
.grid2
{
    display: grid;
    grid-template-columns: 40px 174px 169px 250px;
    
    height: 100px;

    grid-auto-rows: 200px;
}

.cover
{
    background-image: url(../img/kopnena_back.png);
    background-repeat: no-repeat;
    height: 550px;
    padding-top: 150px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    background-attachment: fixed;
     background-size:     cover; 
}

.cover h1
{
    font-size: 100px;
    color: aliceblue;
}

.databox
{   
    margin-left: -10px;
    margin-top: -15px;
    margin-right: -10px;
    background: rgb(30, 30, 30);
    background-repeat:initial;
 
    background-size:     cover; 
    
    height: 1000px;
}




.databox h1
{   
    margin-left: 250px;
    margin-right: 250px;
    font-size: 80px;
    color: aliceblue;
}

.data
{   
   
    margin: 10px;
    overflow-x: hidden;
    padding: 80px;
    display: grid;
    height: 600px;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-auto-rows: 300px;
    grid-gap: 0px 20px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.Glasscube
{   
   
    background-color: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);

    width: 1000px;
    height: 800px;
    
   
    padding: 10px;

}

.dataitem
{
 
    border: 1px solid rgba(0, 0, 0, 0.8);
    
    font-size: 30px;
    text-align: center; 
}



a 
{   
    z-index: 5;
    color: black;
    text-decoration: none;
}







.grid3 
{   margin-left: 20px;
    margin-right: 20px;
    margin-top: 250px;
    
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
    
}

.newcube
{ 
  margin-bottom: 150px;
  width: 100%;
  height: 500px;
  background-color: rgb(53, 53, 53);
  box-shadow: 0 0 20px rgba(8,7,16,0.6);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  
  color: white;
 
  
  
}
.newcubeNaslov
{
    text-align: center;
    font-size: 1vw;
}
.newcubeDatumPocetka
{   text-align: center;
    width: 100%;
    display: grid;
    font-size: 1vw;
    grid-template-columns: auto auto;
}
.newcuveImg
{
    background-image: url(/static/img/Ture/1.jpg);
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 1;
    height: 78%;
    border-radius: 10px;
    transition: 0.5s ease-in;
}

.newcuveImg:hover
{
    z-index: 1;
    transform:translateY(50%);
    transition: 0.5s ease-out;
}

.cover2
{   
    margin-left: -10px;
    margin-top: -30px;
    margin-right: -10px;
    margin-bottom: -20px;
    background: rgb(30, 30, 30);
    background-repeat:initial;
    background-size:     cover; 
    
    
}

.newcubeOpis
{
    text-align: left;
    font-size: 1vw;
    overflow: hidden;
    padding: 20px;
}
