*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{ background-color: #936F4F;

}
cube
{
margin: auto;
width: 350px;
height: 400px;
text-align: center;



background: #aa5353;
border-radius: 40px;
}


.cijena
{
    text-align: center;
    color: rgb(85, 203, 35);
   
    margin-top:100%;
   
}

.naslov
{  
   
    text-align: center;
    margin-left: 30px;
    color: rgb(85, 203, 35);
    background-color: aqua;
    margin-top: 10%;
   
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #b38a66;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 10%;
    margin-right: 10%;
  }
  
