*
{
    font-family: 'Poppins',sans-serif;
    color: white;

}



body
{
   
    background: #be9764;
    background: linear-gradient(0deg, rgba(89,89,89,1) 11%, #be9764 100%);
}
    .cover
{
    background-attachment:scroll;
  
}
.cover h1
{
 font-size: 160px;
}
.grid3
{
   
    width: 95%;
    font-size: 10px;
    display: grid;
    grid-gap: 10px;
    
    grid-template-columns: auto auto auto;
}
  
.sidebar
{   
    position: absolute;
    top: 0px;
    position: fixed;
    overflow-y: scroll;
    background-color: #232323;
    text-align: center;
    margin-left: -20px;
    width: 250px;
    height: 100%;
    padding: 30px;
}
  
.item
{
    background-color: #4d535a;
    
    font-size: 0.7em;
    border-color: #181818;
    transition: 0.3s ease-in;
    border:  1px solid #414141;
   
}
.item:hover
{
    background-color: #777f89;
    
    transition: 0.1s ease-out;
    transform: translate(0%,-10%);
}
hr
{
    border: 1px solid #2a2a2a;
}
.main
{
    margin-left: 20%;
}
.cover2
{   position: relative;
    
  
    
    
}
.newcube
{ 
  margin-bottom: 150px;
  width: 100%;
  height: fit-content;
  background-color: #6a5133;
  box-shadow: 0 0 20px rgba(8,7,16,0.6);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  color: rgb(255, 255, 255);
  transition: 0.1s ease-out;
  
}
.newcube:hover
{
    
    transition: 0.1s ease-out;
    transform: translate(0%,-10%);
}
.newcubeNaslov
{
    text-align: center;
    font-size: 1vw;
}
.newcubedata
{   text-align: center;
    width: 100%;
    display: grid;
    font-size: 1vw;
    grid-template-columns: auto auto auto;
}
.opis
{   
    
    text-align: center;
    font-size: medium;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #be9764;
    padding: 10px;
}
.saznaj
{
    width: auto;
    height: fit-content;
    margin-top: 8%;
  
    border-radius: 100px;
    text-align: center;
    padding: 8px;
    background-color: #1c1c1c;
}
a 
{   
    z-index: 5;
    color: black;
    text-decoration: none;
}
  

